@{
    Layout = "_Layout";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to bookStore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="image" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">Book Title</h3>
                        <p class="card-text">this section will be use to disply the short details of books</p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="image" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">Book Title</h3>
                        <p class="card-text">this section will be use to disply the short details of books</p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="image" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">Book Title</h3>
                        <p class="card-text">this section will be use to disply the short details of books</p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


    <!-- <h1>Hello World i am himanshu</h1>
     <p>i am a programmer</p>

     <h1>@DateTime.Now.ToString("dd-mm-yy")</h1>
     <h1>Sum = @(3 + 5)</h1>

    @{
        int a = 5;
        int b = 6;
        int c = a + b;
    }

     <h1>Total is @c</h1>
     <h1>My Email Id = himanshuladva0587@gmail.com</h1>
     This is a escape syntax
     <h1>My Insta Acc = @@ladva.himanshu</h1>

     Conditional statement
    @{
        int e = 4;
        int f = 0;
    }
    @if (e > 2)
    {
        e++;
                 <h2>Hello i am in this is @e</h2>
    }
    else if (e < 2)
    {
                 <h2>Hello i am in else if block</h2>
    }

     <h1>the actual e is = @(e == 4 ? f = 2 : f = 10)</h1>
     <h1>Value of f is @f</h1>

    @switch (e)
    {
        case 1:
                             <h1>The item is 1</h1>
            break;
        case 2:
                             <h1>The item is 2</h1>
            break;
        case 3:
                             <h1>The item is 3</h1>
            break;
        case 4:
                             <h1>The item is 4</h1>
            break;
        case 5:
                             <h1>The item is 5</h1>
            break;
    }

     For and foreach loop
    @for (int i = 0; i < 5; i++)
    {
                 <h3>Hello Himanshu</h3>
    }
    @{
        List<int> list = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9 };
    }

    @foreach (int i in list)
    {
                 <h3>@i</h3>
    }-->

<script>
    $(document).ready(() => {
        //alert("Hello Ladva how are you!");
    })
</script>