@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

    <img src="~/images/person3.jpg" class="logo" alt="no image found" />
    <img src="~/MyStaticFiles/person2.jpg" class="logo" alt="no image found" />

    <h1 class="h1">Hello my name is himanshu Ladva</h1>

    <button class="btn btn-primary">Click me</button>

    <!-- <h1>Hello World i am himanshu</h1>
     <p>i am a programmer</p>

     <h1>@DateTime.Now.ToString("dd-mm-yy")</h1>
     <h1>Sum = @(3 + 5)</h1>

    @{
        int a = 5;
        int b = 6;
        int c = a + b;
    }

     <h1>Total is @c</h1>
     <h1>My Email Id = himanshuladva0587@gmail.com</h1>
     This is a escape syntax
     <h1>My Insta Acc = @@ladva.himanshu</h1>

     Conditional statement
    @{
        int e = 4;
        int f = 0;
    }
    @if (e > 2)
    {
        e++;
                 <h2>Hello i am in this is @e</h2>
    }
    else if (e < 2)
    {
                 <h2>Hello i am in else if block</h2>
    }

     <h1>the actual e is = @(e == 4 ? f = 2 : f = 10)</h1>
     <h1>Value of f is @f</h1>

    @switch (e)
    {
        case 1:
                             <h1>The item is 1</h1>
            break;
        case 2:
                             <h1>The item is 2</h1>
            break;
        case 3:
                             <h1>The item is 3</h1>
            break;
        case 4:
                             <h1>The item is 4</h1>
            break;
        case 5:
                             <h1>The item is 5</h1>
            break;
    }

     For and foreach loop
    @for (int i = 0; i < 5; i++)
    {
                 <h3>Hello Himanshu</h3>
    }
    @{
        List<int> list = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9 };
    }

    @foreach (int i in list)
    {
                 <h3>@i</h3>
    }-->

<script>
    $(document).ready(() => {
        //alert("Hello Ladva how are you!");
    })
</script>