@{
    var data = ViewBag.Data;    
    var data2 = ViewData["properties"] as BookModel;
    var data3 = ViewData["book"] as BookModel;
    // sending data view to layout
    @* ViewData["Title"] ="Home"; *@
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to National Library @ViewData["CustomName"]</h1>
        <h2>ID = @data3?.Id Author = @data3?.Author</h2>
        @* <h1>Hello @ViewData["name"]</h1>
        <h1>@data2?.Id  @data2?.Title</h1> *@
        <p class="lead text-muted">
            @* @data.id @data.name <br>
            @ViewBag.Type.Id
            @ViewBag.Type.Title *@
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        @*@await Component.InvokeAsync("TopBooks")*@

        <h3 class="h3">Top books</h3>
        <vc:top-books count="6"></vc:top-books>
       @* <big>Hello from big</big>
        <p big>hello from attribute</p>*@
    </div>
</div>

@section scripts {
<script>
    $(document).ready(() => {
        //alert("Hello Ladva how are you!"); 
    })
</script>
}